.panel{
  
}
.image{
  height: 300px;
  width: 100%;
  margin: auto;
  object-fit: contain;
}
.offerName{
  /*font-family: "Press Start 2P", system-ui;*/
  /*font-family: "Orbitron", sans-serif;*/
  /*font-family: "Rubik Glitch", system-ui;*/
  /*font-family: "Train One", system-ui;*/
  font-family: "Audiowide", sans-serif;
  font-size: 2rem;
  color: hsl(180, 100%, 70%);
}
.discount{
  color: hsl(60, 100%, 70%);
  font-size: 1rem;
  font-family: "Press Start 2P", system-ui;
}



.randomItemsSlider{
  width: 90vw;
  margin: auto;
  background-color: hsla(0, 100%, 100%, 1);
}
.items img{
  height: 130px;
}
