*{
  color: hsl(0, 0%, 88%);
  font-family: "Arial", "sans-serif";
}

.productContainer{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: hsl(220, 9%, 11%);
  border-radius: 10px;
  border: 2px solid hsl(220, 8%, 20%);
  padding: 20px;
  align-content: center;
  box-shadow: 0 4px 10px hsla(180, 100%, 50%, 0.15);
  transform: translateY(0);
  transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;
}
.productContainer:hover{
  transform: translateY(-4px);
  border: 2px solid hsl(180, 100%, 50%);
  box-shadow: 0 6px 12px hsla(180, 100%, 50%, 0.3);
}
.productImage{
  display: flex;
  justify-content: center;
}
.productImage img{
  height: 200px;
  border-radius: 0.5rem;
}

.productInfo{
  flex: 1;
}
.productInfo h3{
  color: hsl(180, 100%, 50%);
}


.notInCart, .inCart{
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 88%);
  width: 100%;
  font-size: 2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease, border 0.2s ease;
}
.notInCart:hover{
  background-color: hsl(60, 100%, 70%);
  border: 2px solid hsl(60, 100%, 70%);
}
.inCart:hover{
  background-color: hsl(140, 100%, 70%);
  border: 2px solid hsl(140, 100%, 70%);
}
.cartAndQuantity{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: end;
  gap: 2rem;
}
.quantity{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.quantityCount{
  
}
.quantity button{
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 88%);
  width: 50px;
  font-size: 2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease, border 0.2s ease;
}
.quantity button:hover{
  color: hsl(0, 0%, 20%);
  background-color: hsl(60, 100%, 70%);
  border: 2px solid hsl(60, 100%, 70%);
}

